.creature .portrait {
  display: inline;
  width: 6rem;
  height: 6rem;
  margin: 0 1rem 0 0;
}

.creature .title {
  font-size: 1.3rem;
  color: #f8bf34;
}

.row {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
